<div class="wiki-talk-reply">
    @if (ShowFullEditor)
    {
        <Editor Height="10rem"
                Placeholder="@(!string.IsNullOrEmpty(MessageId) ? "Type a reply" : "Type a new message")"
                Syntax="EditorSyntax.Markdown"
                Spellcheck="true"
                UpdateOnInput="true"
                @bind-Value="NewMessage" />
    }
    else
    {
        <TextArea Autocomplete="false"
                  Placeholder="@(!string.IsNullOrEmpty(MessageId) ? "Type a reply" : "Type a new message")"
                  ShowEmoji="true"
                  Spellcheck="true"
                  UpdateOnInput="true"
                  @bind-Value="NewMessage" />
    }
    <div class="wiki-message-controls">
        <div class="d-flex flex-wrap gap-2">
            @if (!string.IsNullOrEmpty(MessageId))
            {
                <button class="btn small outlined" @onclick="@(_ => OnReactAsync("👍"))">👍</button>
                <button class="btn small outlined" @onclick="@(_ => OnReactAsync("👎"))">👎</button>
            }
            @if (!string.IsNullOrEmpty(WikiBlazorClientOptions.TenorAPIKey))
            {
                <button class="btn small outlined" @onclick="@(_ => ShowGifSearch = !ShowGifSearch)">GIF</button>
            }
            <button class="btn small outlined" @onclick="@(_ => ShowFullEditor = !ShowFullEditor)">✏️</button>
        </div>
        <button class="btn small primary" disabled="@(!CanPost)" @onclick="OnPostAsync">Post</button>
    </div>
</div>
@if (ShowGifSearch)
{
    <div class="wiki-talk-gif">
        <TextInput LoadSuggestions="GetGifSearchSuggestionsAsync"
                   Placeholder="Search Tenor"
                   PostfixIcon="search"
                   @bind-Value="@SearchGifText"
                   @bind-Value:after="OnSetSearchGifTextAsync"
                   Class="dense"
                   role="search" />
        @if (GifSuggestions?.Count > 0)
        {
            <div class="wiki-talk-gif-suggestions">
                @foreach (var suggestion in GifSuggestions)
                {
                    <button class="btn rounded-pill" @onclick="@(_ => OnGifSearchAsync(suggestion))">@suggestion</button>
                }
            </div>
        }
        <div class="wiki-talk-gif-content">
            @if (Gifs.Count > 0)
            {
                @foreach (var gif in Gifs)
                {
                    <div class="wiki-talk-gif-item" @onclick="@(_ => OnPostGifAsync(gif))">
                        <img src="@gif.Url" />
                    </div>
                }
                <button class="btn primary"
                        style="align-self:center;justify-self:center"
                        @onclick="OnGetMoreGifsAsync">More</button>
            }
            else if (GifCategories.Count > 0)
            {
                @foreach (var category in GifCategories)
                {
                    <div class="wiki-talk-gif-item" @onclick="@(_ => OnGifSearchAsync(category.SearchTerm!))">
                        <img src="@category.Image" />
                        <span>@category.Name</span>
                    </div>
                }
            }
            else
            {
                <span>Loading...</span>
            }
        </div>
    </div>
}


