@inherits OfflineSupportComponent

<div class="wiki-site-subtitle">From @WikiOptions.SiteName</div>
@if (GroupPage is not null)
{
    <tf-syntax-highlight class="wiki-parser-output">@Content</tf-syntax-highlight>
    if (GroupPage.Users is not null
        && GroupPage.Users.Count > 0)
    {
        <h2>Members</h2>
        <p>This group has the following @GroupPage.Users.Count.ToString("N0") members.</p>
        <ul class="wiki-group-list">
            @foreach (var user in GroupPage.Users)
            {
                <li>
                    <a href="@WikiState.Link(user.Id, WikiOptions.UserNamespace)"
                       class="wiki-username wiki-username-link"
                       title="@($"Visit the user page for {user.DisplayName ?? user.Id}")">@(user.DisplayName ?? user.Id)</a>
                </li>
            }
        </ul>
    }
}
