@inherits OfflineSupportComponent

<div class="wiki-site-subtitle">From @WikiOptions.SiteName</div>
@if (GroupPageInfo is not null)
{
    <SyntaxHighlighter Class="wiki-parser-output">@Content</SyntaxHighlighter>
    if (GroupPageInfo.Users is not null
        && GroupPageInfo.Users.Count > 0)
    {
        <h2>Members</h2>
        <p>This group has the following @GroupPageInfo.Users.Count.ToString("N0") members.</p>
        <ul class="wiki-group-list">
            @foreach (var user in GroupPageInfo.Users)
            {
                <li>
                    <a href="@WikiState.Link(user.Id, WikiOptions.UserNamespace)"
                       class="wiki-username wiki-username-link"
                       title="@($"Visit the user page for {user.Entity?.DisplayName ?? user.Id}")">@(user.Entity?.DisplayName ?? user.Id)</a>
                </li>
            }
        </ul>
    }
}
