@if (Revisions is null || Revisions.Count == 0)
{
    <p class="wiki-history-nocontent">No revisions match the current filter.</p>
    return;
}

<form action="@(WikiState.LinkHere())">
    <Collapse Title="Filter" IsInitiallyOpen="@(!string.IsNullOrEmpty(Start) || !string.IsNullOrEmpty(End) || !string.IsNullOrEmpty(Editor))">
        <DateTimeInput Label="Start date" Name="@Wiki.StartParameter" ShowTime="true" @bind-Value="@Start" />
        <DateTimeInput Label="End date" Name="@Wiki.EndParameter" ShowTime="true" @bind-Value="@End" />
        <UserSelector Label="User"
                      @bind-SelectedUsers="SelectedEditor"
                      InitialUsers="@Editor"
                      Name="@Wiki.EditorParameter" />
        <button class="btn primary" formaction="@(WikiState.LinkHere(history: true))" type="submit">Apply filter</button>
    </Collapse>
    <p class="wiki-history-instructions">Click on the date/time to view a revision.</p>
    @if (!string.Equals(WikiState.WikiNamespace, WikiOptions.FileNamespace, StringComparison.OrdinalIgnoreCase))
    {
        <button class="btn primary outlined my-3" type="submit">Compare selected versions</button>
    }
    <ul>
        @for (int i = 0; i < Revisions.Count; i++)
        {
            <li class="wiki-history-revision">
                @if (!string.Equals(WikiState.WikiNamespace, WikiOptions.FileNamespace, StringComparison.OrdinalIgnoreCase))
                {
                    <span class="wiki-history-list-diffs">
                        @if (Revisions.HasPreviousPage || i > 0)
                        {
                            <a href="@GetCompareWithCur(Revisions[i])" title="Compare with the current version">cur</a>
                        }
                        else
                        {
                            <span class="text-disabled">cur</span>
                        }
                        @if (i < Revisions.Count - 1 || Revisions.HasNextPage)
                        {
                            <a href="@GetCompareWithPrev(Revisions[i])" title="Compare with the previous version">prev</a>
                        }
                        else
                        {
                            <span class="text-disabled">prev</span>
                        }
                    </span>
                    <tf-checkbox name="rev" value="@Revisions[i].Revision.TimestampTicks"></tf-checkbox>
                }
                <a href="@WikiState.LinkHere(query: $"rev={Revisions[i].Revision.TimestampTicks}")"
                   class="wiki-history-list-timestamp"
                   title="@WikiState.PageTitle">@Revisions[i].Revision.GetTimestamp()</a>
                <a href="@WikiState.Link(Revisions[i].Revision.Editor, WikiOptions.UserNamespace)"
                   class="wiki-username wiki-username-link wiki-history-list-editor"
                   title="@($"Visit the user page for {Revisions[i].EditorName}")">@(Revisions[i].EditorName)</a>
                <span>@Revisions[i].Revision.Comment</span>
            </li>
        }
    </ul>
    @if (!string.Equals(WikiState.WikiNamespace, WikiOptions.FileNamespace, StringComparison.OrdinalIgnoreCase))
    {
        <button class="btn primary outlined my-3" type="submit">Compare selected versions</button>
    }
    @if (Revisions.TotalPages > 1)
    {
        <div class="d-flex flex-wrap align-items-baseline gap-3 mt-3">
            <Pagination Id="pg"
                        CurrentPage="CurrentPageNumber"
                        PageCount="(ulong?)Revisions?.TotalPages"
                        PersistState="true" />
            <Select Label="Number of revisions per page:"
                    Name="@Wiki.PageSizeParameter"
                    Value="@(PageSize ?? 50)"
                    Class="dense">
                <Option Label="50" Value="50" />
                <Option Label="100" Value="100" />
                <Option Label="200" Value="200" />
            </Select>
        </div>
    }
</form>